#!/bin/bash

source {{mailman_path}}/venv/bin/activate

cd {{mailman_path}}/bundler

buildout -c my_buildout.cfg
buildout -c my_buildout.cfg install gunicorn

pip install psycopg2

touch {{mailman_path}}/install.done
